html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

body {
    font-family: Poppins, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #306446FF, #1c342c);
    padding: 20px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.buttons {
    display: flex;
    gap: 15px;
}

.button-signup__white, .button-signup__dark, .button-login {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}

.button-signup__white, .button-signup__dark, .button-login {
    color: white;
}

.button-signup__dark {
    color: #838B89;
}

.button-login {
    background: linear-gradient(135deg, #FF7B4E, #FF584E);
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(135deg, #2E6144FF, #112120);
    padding: 50px 50px 200px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%); /*Угловатый переход*/
}

.hero__content {
    max-width: 50%;
    color: white;
}

.hero__content h1 {
    max-width: 75%;
    font-size: 55px;
    font-weight: 600;
}

.hero__content p {
    max-width: 65%;
    font-size: 25px;
    opacity: 0.5;
    padding-bottom: 68px;
}
.cta__button {
    background: linear-gradient(135deg, #FF7B4E, #FF584E);
    padding: 30px 50px;
    color: white;
    text-decoration: none;
    border-radius: 27px;
    font-size: 25px;
}

.explore__button {
    background-color: #FFFFFF40;
    fill-opacity: 0.7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.hero__image img {
    max-width: 100%;
    border-radius: 10px;
    width:auto;
    height: auto;
    transform: scale(1.1, 1.1);
}

.information {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: white;
    border-radius: 0 0 50px 50px;
}

.information__content {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    max-height: 637px;
    align-items: center;
}

.information__image {
    width: 478px;
    border-radius: 20px;
}

.information__header {
    margin-top: 0;
    font-size: 45px;
    font-weight: 600;
    color: #0F1F1C;
}
.information__name {
    font-size: 33px;
    color: #0F1F1C;
}
.information__location {
    font-size: 25px;
    color: #0F1F1C;
    opacity: 0.5;
}

.information__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    height: 637px;
}

.customer__info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.avatar {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    background-color: #FFAA99;
}

.review {
    margin-bottom: 15px;
    font-size: 22px;
    opacity: 0.5;
}

.information__rating {
    font-size: 60px;
    display: flex;
    margin-top: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 50px;
}

.footer__logo {
    font-weight: bold;
    font-size: 18px;
    color: #FF7C4E;
}

footer nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

footer nav ul li a {
    color: #0F1F1C;
    text-decoration: none;
}