.explorenum{
    background-image: url('/images/explorenum.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 1920px;
    height: 2204px;
    display: flex;
    flex-direction: column;
}

.explorenum__information_box{
    background-color: rgba(2, 12, 33, 0.8);
    margin: 1414px 0 0 0;
    width: 1920px;
    height: 794px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explorenum__information__paragraph_1{
    width: 615px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0 0 0;
}
.explorenum__information__paragraph__title{
    color: white;
    font-size: 60px;
    font-weight: 700;
    font-family: "DM Sans";
}
.explorenum__information__paragraph__title__down{
    color: rgba(224, 224, 224, 1);
    width: 484px;
    height: 102px;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 400;
    margin: 37px 0 0 0;
    text-align: center;
}
.explorenum__information__paragraph__down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: white;
    /* margin: 80px 0 0 0; */
}
.explorenum__information__paragraph__down > :nth-child(1), .explorenum__information__paragraph__down> :nth-child(3)  {
    width: 340px;
}
.explorenum__information__paragraph__down> :nth-child(2){
    width: 380px;
    margin: 0 90px 0 130px;
}
.explorenum_paragraph_box_num{
    color: rgba(221, 34, 66, 1);
    margin: 0 0 20px 0;
    font-size: 43px;
    font-weight: 700;
    font-family: "DM Sans";
}
.explorenum__paragraph__text{
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 18px;
    color: rgba(224, 224, 224, 1);
}

@media (max-width:1919px) {
    .explorenum{
        width: 375px;
    }
    .explorenum__information_box{
        width: 375px;
        height: auto + 5px;
    }
    .explorenum__information__paragraph_1{
        width: 315px;
        margin: 68px 0 0 0;
    }
    .explorenum__information__paragraph__down{
        flex-direction: column;
        width: 315px;
        margin-top: none;
    }
    .explorenum__information__paragraph__down> :nth-child(2){
        width: 315px;
        margin: 75px 0 0 0;
    }
    .explorenum__information__paragraph__down> :nth-child(3){
        width: 315px;
        margin: 75px 0 0 0;
    }
    .explorenum__information__paragraph__title__down{
        width: 315px;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .explorenum__information__paragraph__title{
    width: 315px;
    font-size: 40px;
    font-weight: 700;
    }
    .explorenum__paragraph__text{
        font-size: 16px;
    }
    .explorenum_paragraph_box_num{
        margin-bottom: 5px;
    }
}