.header__main__bg{
    background-image: url('/images/main-header.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
}
@media (max-width:1919px){
    .header__main__bg{
        background-image: url('/images/main-header.png');
        width: 375px;
        height: 1104px;
    }
    .header__img{
        width: 150px;
        height: 60px;
    }
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 28px 140px 0 28px;
}
.header__navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__nav{
    margin: 0 0 0 64px;
    width: 573px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family: "DM Sans";
}
@media (max-width:1919px) {
    .header{
        margin: 0 24px 0 24px;
        justify-content: space-between;
    }
    .header__nav{
        display: none;
    }    
}

#header__menu{
    margin: 0 0 0 40px;
}
